<ion-header>
    <ion-navbar color="primary">
        <ion-title text-center>Home</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="messages" id="messages">
        <div class="utilityDiv" id="utilityDiv">{{utilityText}}</div>
        <div class="suggs" *ngIf="item?.sourceSelNull">
            <page-org></page-org>
            <page-org></page-org>
            <page-org></page-org>
            <page-org></page-org>
        </div>
        <div *ngFor="let message of item?.messages">
            <page-message [message]="message"></page-message>
        </div>
    </div>
</ion-content>