<ion-header>
    <ion-navbar>
        <ion-title>{{item?.user.code}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-fab center middle *ngIf="errOc">
        <button (click)="refresh()" color="light" ion-fab mini>
            <ion-icon color="primary" name="refresh"></ion-icon>
        </button>
    </ion-fab>
    <div *ngIf="item?.user">
        <div class="profileDets">
            <img src="{{imgAddress}}/{{item.user.avatar}}" alt="User Avatar" class="center-block profileAvatar">
            <h3 class="center">{{item.user.type_exp}} {{item.user.full_name}}</h3>
            <ion-row>
                <ion-col *ngIf="item.canFollow"></ion-col>
                <ion-col *ngIf="item.canFollow" class="center">
                    <button (click)="fClick()" ion-button class="followBtn" id="fbtn">{{flwBtnText}}</button>
                </ion-col>
                <ion-col class="center">
                    <button ion-button icon-start clear small (click)="dm(item.user.code)">
                        <ion-icon name="mail"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row class="center">
                <ion-col>
                    <strong>
                        Representing {{item.user.district}}
                    </strong>
                </ion-col>
                <ion-col>
                    <!-- constituents col followers -->
                    <strong>
                        {{item.const_num}}
                        <br>
                        {{plur1Text}}
                    </strong>
                </ion-col>
                <ion-col (click)="followers()">
                    <strong>
                        {{item.user.followersNo}}
                        <br>
                        {{plur2Text}}
                    </strong>
                </ion-col>
            </ion-row>
        </div>
        <hr>
        <br>
    </div>
    <div class="messages" id="messages">
        <div *ngFor="let message of item?.messages">
            <page-message [username]="item.username" [message]="message"></page-message>
        </div>
    </div>
</ion-content>