<ion-header>
    <ion-navbar>
        <ion-title>Select Reporting District</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngFor="let state of item?.states">
        <h4 class="center grey-text">{{state.name}}</h4>
        <ion-list radio-group>
            <ion-list-header class="uppercase">Federal Constituencies</ion-list-header>
            <ion-item *ngFor="let dist of state.fed_consts">
                <ion-label>{{dist.name}}</ion-label>
                <ion-radio (ionSelect)="confirm(dist.name, dist.code)"></ion-radio>
            </ion-item>
            <ion-list-header class="uppercase">Senatorial Districts</ion-list-header>
            <ion-item *ngFor="let dist of state.sen_dists">
                <ion-label>{{dist.name}}</ion-label>
                <ion-radio (ionSelect)="confirm(dist.name, dist.code)"></ion-radio>
            </ion-item>
        </ion-list>
    </div>
</ion-content>