<ion-header>
    <ion-navbar>
        <ion-title>Settings</ion-title>
    </ion-navbar>
</ion-header>
<ion-content *ngIf="item">
    <div>
        <ion-list padding>
            <ion-item>
                <ion-label stacked>Bio</ion-label>
                <ion-input type="text" maxlength="500" [(ngModel)]="bio">{{bio}}</ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>First Name</ion-label>
                <ion-input type="text" [(ngModel)]="f_name">{{f_name}}</ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Username</ion-label>
                <ion-input type="text" [(ngModel)]="username">{{username}}</ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Email Address</ion-label>
                <ion-input type="email" [(ngModel)]="email">{{email}}</ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Current Password</ion-label>
                <ion-input type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>New Password</ion-label>
                <ion-input type="password" [(ngModel)]="n_pass"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Confirm New Password</ion-label>
                <ion-input type="password" [(ngModel)]="c_pass"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label><strong>Gender</strong></ion-label>
                <ion-select [(ngModel)]="gender">
                    <ion-option value="f">Female</ion-option>
                    <ion-option value="m">Male</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label><strong>State</strong></ion-label>
                <ion-select [(ngModel)]="u_state">
                    <div *ngFor="let state of states">
                        <ion-option value="{{state.code}}" (ionSelect)="reloadDists(state.code)">{{state.name}}</ion-option>
                    </div>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label><strong>Federal Constituency</strong></ion-label>
                <ion-select [(ngModel)]="fed_const">
                    <div *ngFor="let district of fed_consts">
                        <ion-option value="{{district.code}}">{{district.name}}</ion-option>
                    </div>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label><strong>Senatorial Districts</strong></ion-label>
                <ion-select [(ngModel)]="sen_dist">
                    <div *ngFor="let district of sen_dists">
                        <ion-option value="{{district.code}}">{{district.name}}</ion-option>
                    </div>
                </ion-select>
            </ion-item>
            <ion-item-divider color="light"></ion-item-divider>
            <ion-item class="center">
                <button ion-button color="primary" (click)="validate()">Update</button>
            </ion-item>
            <ion-item-divider class="center" color="light"></ion-item-divider>
            <ion-item class="center">
                <button (click)="logout()" color="secondary" ion-button>
                    Logout
                </button>
            </ion-item>
            <ion-item class="danger">Delete Account</ion-item>
        </ion-list>
    </div>
</ion-content>