.cardy {
    border-radius: 10px;
    height: 30vh;
    width: 100%;
    padding: 1%;
    text-align: center;
    border: 1px solid rgb(177, 167, 167);
    flex: 0 0 auto;
    margin-right: 50px;
    float: left;
}

.avatar {
    max-height: 15vh;
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
    border-radius: 10%;
    margin-bottom: 5px;
}

.name {
    font-weight: bold;
}

.bio {
    margin-top: 10px;
    font-size: 10pt;
    font-style: italic;
}