.cardy {
    border-radius: 10px;
    height: 30vh;
    text-align: center;
    // float: left;
    width: 100%;
    padding: 1%;
    border: 2px solid black;
    margin-right: 30px;
    flex: 0 0 auto;
}

.avatar {
    // width: 100%;
    height: 60%;
    border-radius: 10%;
    margin-bottom: 5px;
}

.name {
    font-weight: bold;
}

.bio {
    font-size: 10pt;
    font-style: italic;
}