<ion-header>
    <ion-navbar color="primary">
        <ion-title>Journalists</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-fab center middle *ngIf="errOc">
        <button (click)="refresh()" color="light" ion-fab mini>
            <ion-icon color="primary" name="refresh"></ion-icon>
        </button>
    </ion-fab>
    <div *ngIf="item?.pending_reqs">
        <h5 class="center grey-text" id="jReqHeader">Journalist Requests</h5>
        <ion-list *ngFor="let journo of item.pending_requests">
            <page-j-req [journo]="journo" [username]="username"></page-j-req>
        </ion-list>
    </div>
    <div class="center grey-text" *ngIf="exp">
        {{exp}}
    </div>
    <ion-list>
        <h4 *ngIf="item?.pending_reqs && item?.journos" id="yJHeader" class="center grey-text">Your Journalists</h4>
        <div class="journalists" *ngFor="let journalist of item?.journos">
            <page-o-journo [journalist]="journalist"></page-o-journo>
        </div>
    </ion-list>
    <div *ngIf="errOcc">
        <button ion-button full (click)="load()">Retry</button>
    </div>
</ion-content>