<ion-header>
    <ion-navbar color="primary">
        <ion-title>Journalists</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div *ngIf="item?.pending_reqs">
        <h5 class="center grey-text" id="jReqHeader">Journalist Requests</h5>
        <ion-list>
            <div *ngFor="let journo of item.user.pending_reqs">
                <page-j-req [journo]="journo" [username]="username"></page-j-req>
            </div>
        </ion-list>
    </div>
    <ion-list>
        <h4 *ngIf="item?.pending_reqs" id="yJHeader" class="center grey-text">Your Journalists</h4>
        <div class="journalists" *ngFor="let journalist of item?.journos">
            <page-o-journo [journalist]="journalist"></page-o-journo>
        </div>
    </ion-list>
    <div *ngIf="errOcc">
        <button ion-button full (click)="retry()">Retry</button>
    </div>
</ion-content>