<ion-content>
    <div class="center grey-text" *ngIf="exp">
        {{exp}}
    </div>
    <ion-fab center middle *ngIf="errOc">
        <button (click)="refresh()" color="light" ion-fab mini>
            <ion-icon color="primary" name="refresh"></ion-icon>
        </button>
    </ion-fab>
    <div class="messages" id="messages">
        <div *ngFor="let message of item?.dist_posts">
            <page-message [username]="item.user.code" [message]="message"></page-message>
        </div>
    </div>
    <ion-fab bottom right>
        <button (click)="compose()" ion-fab color="secondary" class="fab">
            <ion-icon name="add" class="icon"></ion-icon>
        </button>
    </ion-fab>
</ion-content>