<ion-header>
    <ion-navbar>
        <ion-title>{{item?.bill.official_title}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card *ngIf="item?.bill" padding>
        <ion-item>
            <h1>{{item.bill.title}}</h1>
            <p>{{item.bill.official_title}}</p>
            <p><strong>Status: {{item.bill.status.s_text}}</strong></p>
            <p><a href="{{item.bill.text_link}}">Full Text</a></p>
        </ion-item>
        <ion-card-content>
            <p>{{item.bill.description}}</p>
        </ion-card-content>
        <ion-row>
            <ion-col class="left">
                <ion-note>
                    {{item.bill.date_created}}
                </ion-note>
            </ion-col>
            <ion-col class="right">
                <ion-note>
                    {{item.bill.time_created}}
                </ion-note>
            </ion-col>
        </ion-row>
    </ion-card>
    <h3 class="center">Co-sponsors</h3>
    <div *ngFor="let account of item?.sponsors">
        <page-legislator [person]="account"></page-legislator>
    </div>
</ion-content>