<ion-header>
    <ion-navbar>
        <ion-title>Sign Up - Town Hall Users</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label stacked>First Name</ion-label>
            <ion-input type="text" [(ngModel)]="f_name" id="f_name" name="f_name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Username</ion-label>
            <ion-input type="text" [(ngModel)]="username" (ionBlur)="checkUsername()" id="username" name="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Email Address</ion-label>
            <ion-input type="email" [(ngModel)]="email" (ionBlur)="checkEmail()" id="email" name="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input type="password" [(ngModel)]="password" id="password" name="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Confirm Password</ion-label>
            <ion-input type="password" [(ngModel)]="pass1" id="pass1"></ion-input>
        </ion-item>
        <br><br>
        <ion-item>
            <ion-label><strong>Gender</strong></ion-label>
            <ion-select [(ngModel)]="gender">
                <ion-option selected="true" value="f">Female</ion-option>
                <ion-option value="m">Male</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label><strong>State</strong></ion-label>
            <ion-select [(ngModel)]="u_state">
                <div *ngFor="let state of item?.states">
                    <ion-option (ionSelect)="load_districts(state.key)">{{state.name}}</ion-option>
                </div>
            </ion-select>
        </ion-item>
        <!-- <div *ngIf="statesLoaded">
            <div *ngIf="districtsLoading">Loading Districts...</div>
        </div> -->
        <ion-item *ngIf="districtsLoaded">
            <ion-label><strong>Federal Constituency</strong></ion-label>
            <ion-select [(ngModel)]="fed_const" *ngFor="let district of districts?.fed_consts">
                <ion-option value="{{district.code}}">{{district.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="districtsLoaded">
            <ion-label><strong>Senatorial Districts</strong></ion-label>
            <ion-select [(ngModel)]="sen_dist" *ngFor="let district of districts?.sen_dists">
                <ion-option value="{{district.code}}">{{district.name}}</ion-option>
            </ion-select>
        </ion-item>
        <br><br>
        <div class="center">
            <button (click)="validate()" ion-button color="primary">Create Account</button>
        </div>
    </ion-list>
</ion-content>