<ion-content>
    <div *ngIf="item?.user">
        <div class="profileDets">
            <img src="{{imgAddress}}/{{item.user.avatar}}" alt="{{item.user.f_name}}'s Avatar" class="center-block profileAvatar">
            <h3 class="center">{{item.user.full_name}}</h3>
            <ion-row class="center">
                <ion-col>
                    <strong *ngIf="item.free">
                        {{item.user.beatDets.name}}
                    </strong>
                </ion-col>
                <ion-col>
                    <strong>
                        {{item.user.followersNo}}
                        <br>
                        Followers
                    </strong>
                </ion-col>
                <ion-col>
                    <ion-icon (click)="settings()" name="settings" class="icon"></ion-icon>
                </ion-col>
            </ion-row>
        </div>
    </div>
    <hr>
    <br>
    <div>
        <div class="messages" id="messages">
            <div *ngFor="let message of item?.messages">
                <page-message [message]="message"></page-message>
            </div>
        </div>
    </div>
    <ion-fab bottom right>
        <button (click)="compose()" id="fab" ion-fab color="secondary" class="fab">
            <ion-icon name="add" class="icon"></ion-icon>
        </button>
    </ion-fab>
</ion-content>