.cardy {
    border-radius: 10px;
    height: 200px;
    width: 150px;
    padding: 1%;
    text-align: center;
    border: 1px solid rgb(177, 167, 167);
    flex: 0 0 auto;
    margin-right: 10px;
    float: left;
}

.avatar {
    height: 120px;
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
    margin-bottom: 5px;
    border-radius: 50%;
}

.name {
    font-weight: bold;
}

.bio {
    margin-top: 10px;
    font-size: 10pt;
    font-style: italic;
}