<ion-header>
    <ion-navbar>
        <ion-title>Edit Account Details</ion-title>
    </ion-navbar>
</ion-header>
<ion-fab center middle *ngIf="errOc">
    <button (click)="refresh()" color="light" ion-fab mini>
        <ion-icon color="primary" name="refresh"></ion-icon>
    </button>
</ion-fab>
<ion-content>
    <div *ngIf="item">
        <ion-list padding>
            <ion-item>
                <ion-label stacked>Bio</ion-label>
                <ion-input type="text" maxlength="500" [(ngModel)]="bio">{{bio}}</ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Name</ion-label>
                <ion-input type="text" [(ngModel)]="name">{{name}}</ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Username</ion-label>
                <ion-input type="text" [(ngModel)]="username">{{username}}</ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Email Address</ion-label>
                <ion-input type="email" [(ngModel)]="email">{{email}}</ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Correspondence Email Address</ion-label>
                <ion-input type="email" [(ngModel)]="c_email">{{c_email}}</ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Current Password</ion-label>
                <ion-input type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>New Password</ion-label>
                <ion-input type="password" [(ngModel)]="n_pass"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Confirm New Password</ion-label>
                <ion-input type="password" [(ngModel)]="c_pass"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Verification ID</ion-label>
                <ion-input type="text" [(ngModel)]="verification">{{verification}}</ion-input>
            </ion-item>
            <ion-item-divider color="light"></ion-item-divider>
            <ion-item class="center">
                <button ion-button color="primary" (click)="validate()">Update</button>
            </ion-item>
            <ion-item-divider class="center" color="light"></ion-item-divider>
            <ion-item class="danger">Delete Account</ion-item>
        </ion-list>
    </div>
</ion-content>