// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.home {
    background: color($colors, light);
    color: color($colors, primary);
    margin-top: 30px;
}

.tabs-md .tab-button-icon {
    color: #ccc;
}

.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: color($colors, primary);
}

.item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked] {
    font-size: 10pt;
    color: color($colors, primary);
}

.larger {
    font-size: 15pt;
}

.grey {
    background-color: rgb(177, 167, 167);
}

.grey-text {
    color: rgb(177, 167, 167);
}

.white-text {
    color: white;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.errorDiv {
    color: color($colors, danger);
    text-align: center;
    font-weight: bold;
}

.fl-right {
    float: right;
}

.fl-left {
    float: left;
}

.profileAvatar {
    border-radius: 50%;
    height: 23vh;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.mt {
    margin-top: 20px;
}

.uppercase {
    text-transform: uppercase;
}

.txt-msg {
    border: none;
}

.txt-msg-br {
    border: 1px solid color($colors, primary);
}

.item-md.item-block .item-inner{
    border-bottom: none;
}

textarea {
    height: 30vh;
}

.followBtn {
    height: 1.75em;
    max-width: 150px;
    text-transform: capitalize;
    font-stretch: expanded;
}

.txt-cmt {
    border-style: dotted;
    height: 20vh;
}

.tag {
    color: color($colors, primary);
    z-index: 2;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-input .item-inner {
    border-bottom-color: color($colors, primary);
    -webkit-box-shadow: inset 0 -1px 0 0 color($colors, primary);
    box-shadow: inset 0 -1px 0 0 color($colors, primary);
}

.primary {
    color: color($colors, primary);
}

.danger {
    color: color($colors, danger);
}

.hidden {
    display: none;
}

.bioDiv {
    width: 90%;
    border: 2px solid color($colors, primary);
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px;
    padding-top: 0;
}

.userDetsDiv {
    line-height: 2em;
}