<ion-header>
    <ion-navbar>
        <ion-row>
            <ion-col (click)="closeModal(false)" class="left">
                <ion-item>
                    <ion-icon name="arrow-back"></ion-icon>
                </ion-item>
            </ion-col>
            <ion-col class="center">
                <ion-item>Select District</ion-item>
            </ion-col>
            <ion-col>
                <ion-item (click)="closeModal(true)">
                    <ion-icon name="checkmark" item-end></ion-icon>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-list radio-group>
            <div *ngFor="let state of item?.states">
                <h4 class="center grey-text">{{state.name}}</h4>
                <ion-list-header class="uppercase">Federal Constituencies</ion-list-header>
                <ion-item *ngFor="let dist of state.fed_consts">
                    <ion-label>{{dist.name}}</ion-label>
                    <ion-radio (ionSelect)="select(dist.code)"></ion-radio>
                </ion-item>
                <ion-list-header class="uppercase">Senatorial Districts</ion-list-header>
                <ion-item *ngFor="let dist of state.sen_dists">
                    <ion-label>{{dist.name}}</ion-label>
                    <ion-radio (ionSelect)="select(dist.code)"></ion-radio>
                </ion-item>
            </div>
        </ion-list>
    </ion-list>
</ion-content>