.messages {
    margin-bottom: 100px;
}

.suggs {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: auto;
}

.scroll-zoom-wrapper {
    white-space: nowrap;
}

.suggestions {
    position: absolute;
    top: 2.5em;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}

.suggestion {
    width: 95%;
    text-align: left;
    background-color: #fff;
    border: 1px solid #eee;
    border-top-width: 0;
}

.sugg {
    display: block;
    margin: 7px;
    padding: 5px;
}