<ion-content>
    <div *ngIf="item?.user">
        <div class="profileDets">
            <img src="http://127.169.43.55:8095/{{item.user.avatar}}" alt="User Avatar" class="center-block profileAvatar">
            <h3 class="center">{{item.user.type_exp}} {{item.user.full_name}}</h3>
            <ion-row class="center">
                <ion-col>
                    <strong>
                        {{item.user.district}}
                    </strong>
                </ion-col>
                <ion-col>
                    <strong>
                        {{item.district.const_num}}
                        <br>
                        Constituents
                    </strong>
                </ion-col>
                <ion-col>
                    <ion-icon (click)="settings()" name="settings" class="icon"></ion-icon>
                </ion-col>
            </ion-row>
        </div>
        <hr>
        <br>
    </div>
    <div class="messages" id="messages">
        <div *ngFor="let message of item?.messages">
            <page-message [username]="item.user.code" [message]="message"></page-message>
        </div>
    </div>
    <ion-fab bottom right>
        <button (click)="compose()" ion-fab color="secondary" class="fab">
            <ion-icon name="add" class="icon"></ion-icon>
        </button>
    </ion-fab>
</ion-content>