<ion-content>
    <ion-fab center middle *ngIf="errOc">
        <button (click)="refresh()" color="light" ion-fab mini>
            <ion-icon color="primary" name="refresh"></ion-icon>
        </button>
    </ion-fab>
    <div *ngIf="item?.user">
        <div class="profileDets">
            <img src="{{imgAddress}}/{{item.user.avatar}}" alt="User Avatar" class="center-block profileAvatar">
            <h3 class="center">{{item.user.type_exp}} {{item.user.full_name}}</h3>
            <ion-row class="center">
                <ion-col>
                    <button ion-button icon-start clear small (click)="dms()">
                        <ion-icon name="mail-open"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row class="center">
                <ion-col>
                    <strong>
                        {{item.user.district}}
                    </strong>
                </ion-col>
                <ion-col (click)="followers()">
                    <strong>
                        {{item.user.followersNo}}
                        <br>
                        {{plur1Text}}
                    </strong>
                </ion-col>
                <ion-col>
                    <strong>
                        {{item.district.const_num}}
                        <br>
                        {{plur2Text}}
                    </strong>
                </ion-col>
                <ion-col>
                    <ion-icon (click)="settings()" name="settings" class="icon"></ion-icon>
                </ion-col>
            </ion-row>
        </div>
        <hr>
        <br>
    </div>
    <div class="center grey-text" *ngIf="exp">
        {{exp}}
    </div>
    <div class="messages" id="messages">
        <div *ngFor="let message of item?.messages">
            <page-message [username]="item.user.code" [message]="message"></page-message>
        </div>
    </div>
    <ion-fab bottom right>
        <button (click)="compose()" ion-fab color="secondary" class="fab">
            <ion-icon name="add" class="icon"></ion-icon>
        </button>
    </ion-fab>
</ion-content>