<ion-header>
    <ion-navbar>
        <ion-title>{{item?.user.username}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div *ngIf="item?.user">
        <div class="profileDets">
            <img src="{{imgAddress}}/{{item.user.logo}}" alt="{{item.user.name}}'s Avatar" class="center-block profileAvatar">
            <h3 class="center">{{item.user.name}}</h3>
            <ion-row>
                <ion-col></ion-col>
                <ion-col *ngIf="item.canFollow">
                    <button (click)="fClick()" ion-button class="followBtn" id="fbtn">{{flwBtnText}}</button>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
            <ion-row class="center">
                <ion-col>
                    <strong>{{item.user.journo_num}}<br><span>Journalists</span></strong>
                </ion-col>
                <ion-col>
                    <strong>{{item.user.followersNo}}<br>Unique <span>{{flwrsText}}</span></strong>
                </ion-col>
                <ion-col>
                    <strong>{{item.user.messages_no}}<br><span>Messages</span></strong>
                </ion-col>
            </ion-row>
        </div>
        <hr>
        <br>
    </div>
    <div>
        <div class="messages" id="messages">
            <div *ngFor="let message of item?.messages">
                <page-message [username]="item.username" [message]="message"></page-message>
            </div>
        </div>
    </div>
</ion-content>