<ion-header>
    <ion-navbar>
        <ion-title>Select Your Organisation</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-fab center middle *ngIf="errOc">
        <button (click)="refresh()" color="light" ion-fab mini>
            <ion-icon color="primary" name="refresh"></ion-icon>
        </button>
    </ion-fab>
    <div *ngIf="r_item?.rejection">
        <h5 class="center grey-text">{{r_item.reason}}</h5>
    </div>
    <div class="center">
        <button (click)="logout()" color="secondary" ion-button>
            Logout
        </button>
    </div>
    <ion-list *ngFor="let org of item?.organisations" inset radio-group>
        <ion-item>
            <ion-label>{{org.name}}</ion-label>
            <ion-radio name="org" (ionSelect)="confirm(org.name, org.username)"></ion-radio>
        </ion-item>
    </ion-list>
</ion-content>